.portfolioSum{
    background-color: white;
    border: solid 1px #ddd;
    border-radius:10px;
    padding: 10px;
    padding: "20px";
    margin-bottom:30px;
    margin-top:60px;
    
}

.stockGrid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
     gap:16px;

} 

.stock{
    border: solid 1px #ddd;
    border-radius:10px;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
   

}

.chart {
    border: solid 1px #ddd;
    border-radius:10px;
    padding: 10px;
    background-color: white;
    width: 100%;
    position: relative;

}


.chartContainer {
    display: grid;
    width: 100%;
    grid-column: 1 / -1; /* Span full width of parent grid */
    margin-bottom: 30px;
   
}