.container {
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;

	width: 100vw;
	height: 50px;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	 align-items: center; 
	justify-content: center;
}

.links {
	display: flex;
	gap: 10px;

	
}
