.container {
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	top: 0;
	background-color: black;
	height: 100px;
	align-items: center;
}

.links {
	
	display: none;
	justify-content: flex-end;
	gap: 1rem;
	max-width: 1200px;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	align-items: center;
}

.hamburger {
	cursor: pointer;
	padding: 20px;
}

.dropDown {
	top: 100px;
	width: 100%;
	position: fixed;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 0px;
	transition: height 0.4s ease;
	overflow: hidden;
}

.dropDownOpen {
	height: 400px;
	transition: height 0.4s ease;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: all 0.25s linear;
}

.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
	transition: all 0.25s linear;
}

.change .bar2 {
	opacity: 0;
	transition: all 0.25s linear;
	background-color: black;
}

.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
	transition: all 0.25s linear;
}

@media screen and (min-width: 769px) {
	/* large tablets & small laptops */
	/* .links {
        display: flex;
        justify-content: flex-end;
    } */
	.links {
		display: flex;
	}
	.hamburger {
		display: none;
	}
}
